body {
  background-color: #b7b7b7;
}

.app {
  width: 100%;
  color: #333333;
}

.header {
  width: 75%;
  height: auto;
  font-family: 'Permanent Marker';
}

@media (min-width: 700px) {
  .header {
    width: 700px;
    margin: 0 auto;
    font-size: 2em;
    font-family: 'Permanent Marker';
  }
  img {
    width: 700px;
    height: 180px;
    border-radius: 10px;
  }
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  background-color: #1467eb;
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  font-size: 1.2rem;
  font-family: 'Poppins';
  display: block;
}

form {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

form p label {
  margin: 5px;
}

.form-options {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.form-character {
  margin: 0 20px 0 0;
}

select {
  font-size: 1rem;
  padding: 5px;
  width: 200px;
  cursor: pointer;
  box-shadow: inset 0 3px 4px 0 hsla(0, 0%, 0%, 0.08);
}

.length {
  border-left: 2px solid #1467eb;
  padding: 0 0 0 20px;
}

.length input {
  width: 60px;
  height: 20px;
  font-size: 1rem;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
  text-align: center;
  border-radius: 5px;
}

hr {
  width: 100%;
  color: #1467eb;
}

form hr {
  width: 350px;
  margin-bottom: 15px;
  color: #1467eb;
}

#submit,
button {
  height: 2.2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 6px;
  color: white;
  background-color: #1467eb;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Poppins';
}

#submit,
button:hover {
  height: 2.2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 6px;
  color: #1467eb;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Poppins';
}

button {
  margin-left: 5px;
}

.returned-ipsum {
  text-align: center;
  height: 30vh;
}

textarea {
  margin: 0;
  border-color: #1467eb;
  border-radius: 10px;
  width: 55%;
  /* height: 300px; */
  margin-top: 40px;
  padding: 8px;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

@media (min-width: 700px) {
  textarea {
    width: 700px;
    margin: 0;
  }
}

.returned-ipsum button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80px;
}
