.app {
  width: 100%;
  color: #333333;
}

.header {
  width: 75%;
  height: auto;
  font-family: 'Permanent Marker';
}

@media (min-width: 700px) {
  .header {
    width: 700px;
    margin: 0 auto;
    font-size: 2em;
    font-family: 'Permanent Marker';
  }
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  background-color: #1467eb;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header p {
  text-align: center;
  margin: 0;
  font-size: 1rem;
  padding-bottom: 10px;
}

p {
  font-size: 1.2rem;
  font-family: 'Poppins';
}

form {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

form p {
  margin: 5px;
}

select {
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

.length {
  margin-top: 20px;
  margin-bottom: 20px;
}

.length input {
  width: 60px;
  height: 20px;
  font-size: 1rem;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

hr {
  width: 100%;
  color: #1467eb;
}

form hr {
  width: 350px;
  margin-bottom: 15px;
  color: #1467eb;
}

#submit,
button {
  height: 2.2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 6px;
  color: white;
  background-color: #1467eb;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Poppins';
}

button {
  margin-left: 5px;
}

.returned-ipsum {
  text-align: center;
  height: 30vh;
}

textarea {
  border-color: #1467eb;
  border-radius: 10px;
  width: 55%;
  height: 90%;
  margin-top: 40px;
}

@media (min-width: 700px) {
  textarea {
    width: 700px;
  }
}
